@media only screen and (max-width: 400px) and (max-height: 400px) { /* mini displays */
    .counterButton-container {
        aspect-ratio: 1 / 1;
        border: 3px solid #524552;
        border-radius: 12px;
        position: relative;
        margin: 0 5vw;
        width: 33vw;
    }

    .counterButton-title {
        font-weight: 500;
        z-index: 8;
    }

    .counterButton {
        border-radius: 12px 12px 0px 0px;
        height: 75%;
        left: 0;
        position: absolute;
        width: 100%;
    
        &.subtract {
            border-top: 1px solid #524552;
            border-right: 1px solid #524552;
            border-radius: 0px 0px 0px 12px;
            height: 25%;
            padding: 0;
            top: 75%;
            width: 66%;
        }

        &.reset {
            border-radius: 0px 0px 12px 0px;
            border-top: 1px solid #524552;
            height: 25%;
            left: 66%;
            padding: 0;
            top: 75%;
            width: 33%;

            & svg > path {
                color: currentColor;
            }
        }
    }
}