.sectionEditor {
    position:fixed;
    top: 3.33vh;
    left: 3.33vw;
}

#sectionMenu-underlay {
    background-color: #0000;
    height: 100vh;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 128;
    
    transition: background-color 0.33s linear;
    
    &.shown {
        background-color: #000a;
        pointer-events: auto;
    }
}

#sectionMenu {
    background-color: #1a1a1a;
    border-radius: 0px 12px 12px 0px;
    display: none;
    height: calc(100vh - 2em);
    padding-top: 2em;
    position: absolute;
    left: -50vw;
    top: 0;
    width: 75vw;
    z-index: 256;

    &.shown {
        display: block;
        left: 0px;
    }

    &.slideIn {
        display: block;
        left: 0;
        animation: slideIn 0.33s ease-in-out both;
    }
    &.slideOut {
        display: block;
        left: 0;
        animation: slideOut 0.33s ease-in-out both;
    }

}

#sectionMenu-patternTitle, #sectionMenu-patternSelect {
    border: none;
    border-radius: 4px;
    line-height: 1.25rem;
    margin-right: 3em;
    outline: none;
    padding: 0.25rem 0.5rem;
    width: calc(50% - 3em);
}

#sectionMenu-patternSelect {
    height: 28px;
}

#sectionMenu-close {
    padding: 0.3em 0.6em;
    position: absolute;
    left: 3.33vw;
    top: 3.33vh;
}

#sectionMenu-edit {
    padding: 0.3em 0.6em;
    position: absolute;
    right: 3.33vw;
    top: 3.33vh;
}

#sectionMenu-actions {
    display: flex;
    position: absolute;
    right: 3.33vw;
    top: 3.33vh;

    & button {
        padding: 0.3em 0.6em;
    }
}

#sectionMenu-reset {
    padding: 0.3em 0.6em;
    position: absolute;
    right: 3.33vw;
    bottom: 3.33vh;
}

.sectionMenu-addNewRow {
    outline: 1px solid var(--accent-color);
    display: flex;
    justify-content: center;
    width: 75%;
}

.sectionMenu-editDisabled {
    display: none;
}

#sectionMenu-items-container {
    height: 66%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;

    & ol {
        width: 100%;
    }
}

.sectionMenu-items {
    list-style: none;
    padding: 0;

    & div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 600px) and (max-height: 600px) {
    .sectionMenu-addNewRow {
        display: none;
    }

    .sectionMenu-editDisabled {
        display: block;
        font-style: "italic";
    }
}

@keyframes slideIn {
    from {
        left: -50vw;
        display: none;
    }
    to {
        display: block;
        left: 0;
    }
}
@keyframes slideOut {
    from {
        display: block;
        left: 0;
    }
    to {
        display: none;
        left: -50vw;
    }
}