#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 1.75rem
}

.counter-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}