:root {
  --background-color: #df96a1;
  --text-color: white;
  --inactive-text-color: #fffa;
}

body {
  background-color: var(--background-color);
  align-items: start;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 1.75rem
}

.counter-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.ticker-container {
  padding-left: 5vw;
  padding-top: 12px;
}

@media only screen and (max-width: 600px) and (max-height: 600px) {
  :root {
    font-size: clamp(calc((4vh + 4vw) / 2), calc((4vh + 4vw) / 2), 24px);
  }
}